<div class="conatiner">
  <div class="main-contain">
    <input
      type="range"
      name="main-level"
      id="main-level"
      value="0"
      min="0"
      step="1"
    />
    <div class="main-label"></div>
  </div>

  <div class="main-input">
    <input
      type="number"
      name="number-input"
      id="number-input"
      min="0"
      step="1"
      (keyup)="changeMain($event)"
    />
  </div>

  <div class="main-stat-block">
    <table>
        <caption>Character Level: {{ mainLevel }}</caption>
      <thead>
        <th>Stat Name</th>
        <th>Value at Level</th>
      </thead>
      <tbody>
        <tr>
          <td>Strength -</td>
          <td>{{ statsRounded[0] }}</td>
        </tr>
        <tr>
          <td>Dexterity -</td>
          <td>{{ statsRounded[1] }}</td>
        </tr>
        <tr>
          <td>Constitution -</td>
          <td>{{ statsRounded[2] }}</td>
        </tr>
        <tr>
          <td>Intelligence -</td>
          <td>{{ statsRounded[3] }}</td>
        </tr>
        <tr>
          <td>Wisdom -</td>
          <td>{{ statsRounded[4] }}</td>
        </tr>
        <tr>
          <td>Charisma -</td>
          <td>{{ statsRounded[5] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr />

  <div class="contain-base-stat-change">
    <table>
        <caption>Base Stats</caption>
      <thead>
        <th>Stat Name</th>
        <th>Base Value</th>
        <th>Modify to</th>
      </thead>
      <tbody>
        <tr>
          <td>Strength -</td>
          <td>{{ baseStats[0] }}</td>
          <td><input type="number" name="base-stat-input-1" id="bsi-1" /></td>
        </tr>
        <tr>
          <td>Dexterity -</td>
          <td>{{ baseStats[1] }}</td>
          <td><input type="number" name="base-stat-input-2" id="bsi-2" /></td>
        </tr>
        <tr>
          <td>Constitution -</td>
          <td>{{ baseStats[2] }}</td>
          <td><input type="number" name="base-stat-input-3" id="bsi-3" /></td>
        </tr>
        <tr>
          <td>Intelligence -</td>
          <td>{{ baseStats[3] }}</td>
          <td><input type="number" name="base-stat-input-4" id="bsi-4" /></td>
        </tr>
        <tr>
          <td>Wisdom -</td>
          <td>{{ baseStats[4] }}</td>
          <td><input type="number" name="base-stat-input-5" id="bsi-5" /></td>
        </tr>
        <tr>
          <td>Charisma -</td>
          <td>{{ baseStats[5] }}</td>
          <td><input type="number" name="base-stat-input-6" id="bsi-6" /></td>
        </tr>
      </tbody>
    </table>
    <input type="button" value="Submit" (click)="changeBaseStats()">
  </div>
</div>
